# Ignore Python cache and compiled files
**/__pycache__/
*.py[cod]

# Ignore Node modules and build artifacts
frontend/node_modules/
frontend/dist/

# Ignore environment files
.env
*.env

# Ignore Terraform and SAM artifacts if generated
infra/.aws-sam/
infra/.terraform/

# Ignore OS-specific files
.DS_Store
Thumbs.db